---
layout: default
title: Home
permalink: /
redirect_from: "/download.html"
---
<div id="headerwrap">
 <div class="container">
  <div class="row">
   <div class="col-lg-8 col-lg-offset-2">
    <h3>Enterprise level security &lt; 50 KB</h3>
    <h1>Compact Embedded SSL/TLS stack </h1>
   </div>
  </div>
  <div class="row">
   <div class="col-lg-12 himg">
    <img src="{{ "/assets/img/matrixssl_iot_all.png" | prepend: site.baseurl }}" class="img-responsive">
   </div>
  </div><!-- /row -->
 </div> <!-- /container -->
</div><!-- /headerwrap -->

<div class="container">
 <div class="spacing"></div>
 <div class="row centered">
  <div class="col-sm-4">
   <i class="fa fa-leaf fa-5x"></i>
   <h4>Low memory footprint</h4>
   <p>MatrixSSL stack is a modular source code SDK ideally suited for IoT usage due to its low memory footprint (<50KB, even down to 10kB for MatrixSSL Tiny) and efficient RAM utilization (4KB per connection, even less than 1kB for MatrixSSL Tiny). It even runs on platforms without filesystem, memory allocation or multi-threading.</p>
  </div>
  <div class="col-sm-4">
   <i class="fa fa-lock fa-5x"></i>
   <h4>Fully Compatible</h4>
   <p>With larger implementations and the SSL/TLS RFCs. All web browsers and servers can communicate securely with MatrixSSL.</p>
  </div>
  <div class="col-sm-4">
   <i class="fa fa-rocket fa-5x"></i>
   <h4>High performance</h4>
   <p>Due to its compact design, MatrixSSL is more memory and CPU e­fficient than competing solutions, including those based on OpenSSL. With true multi-threading, zero-copy processing and an asynchronous API for hardware integration, MatrixSSL is ideal for securing cloud access.</p>
  </div>
 </div>
</div>

<div id="firewrap">
 <div class="container">
  <div class="row">
   <div class="col-md-5 col-md-offset-1">
    <h4>Features</h4>
    <div class="hline"></div>
{% capture my_include %}{% include features.md %}{% endcapture %}{{ my_include | markdownify }}
   </div>
   <div class="col-md-5">
    <h4>Implementation</h4>
    <div class="hline"></div>
{% capture my_include %}{% include implementation.md %}{% endcapture %}{{ my_include | markdownify }}
   </div>
  </div>
  <div class="spacing"></div>
 </div>
</div>

<div id="twrap">
 <div id="twrapback"></div>
 <div class="container">
  <div class="row">
   <div class="col-md-8 col-md-offset-2 centered">
    <h2>Product Family</h2>
   </div>
   </div>
  <div class="row">
   <div class="col-md-5 col-md-offset-1">
    <h4>
     <span class="fa-stack fa-lg fa-pad">
     <i class="fa fa-certificate fa-stack-2x"></i>
     <i class="fa fa-lock fa-stack-1x fa-bg"></i>
     </span>
     MatrixSSL&nbsp;FIPS
    </h4>
MatrixSSL integrated with SafeZone FIPS software SDK that provides an IoT security framework of  FIPS140-2 certified crypto (<a href="http://csrc.nist.gov/groups/STM/cmvp/documents/140-1/1401val2015.htm#2389" target='_new'>Certificate #2389</a>) as well as non-FIPS algorithms. That solution is ideal for IoT devices looking at an embedded security solution compliant with NIST security standards.
  </div>
  <div class="col-md-5">
<h4>
<span class="fa-stack fa-lg fa-pad">
  <i class="fa fa-lightbulb-o fa-stack-2x"></i>
  <i class="fa fa-wifi fa-stack-1x fa-rotate-90" style="padding-bottom:30px;text-align:left;"></i>
</span>
MatrixSSL&nbsp;Tiny</h4>
The world smallest TLS implementation that requires 600 bytes of RAM and 10kB of flash. Ideal for 8-bit and 16 bit microprocessors.
  </div>
 </div>
 <div class="row">
  <div class="col-md-5 col-md-offset-1">
<h4>
<span class="fa-stack fa-lg fa-pad">
  <i class="fa fa-square fa-stack-2x"></i>
  <i class="fa fa-terminal fa-stack-1x fa-bg"></i>
</span>
MatrixSSH</h4>
An SSH server source code toolkit suitable for RTOS environments. Extends traditional insecure command line terminal environments over serial or telnet to the secure SSH standard.
  </div>
  <div class="col-md-5">
<h4>
<span class="fa-stack fa-lg fa-pad">
  <i class="fa fa-user-secret fa-stack-2x"></i>
</span>
MatrixSSL&nbsp;Interceptor</h4>
This passive mode TLS implementation monitors SSL/TLS in real time without modifying traffic. It is ideal for TLS visibility solutions requiring high performance as it only decrypt the traffic (no re-encrypting).
  </div>
 </div>
 </div>
</div>
</div>
