<div id="cwrap">
    <div class="container">
        <div class="row centered">

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
{% for sf in site.static_files %}{% if sf.path contains '/assets/img/clients' %}
	{% increment i %}
	{% capture m %}{{ i | modulo:3 }}{% endcapture %}
	{% if m == '1' %}
		{% if i == 1 %}
			<div class="item active">
		{% else %}
			<div class="item">
		{% endif %}
	{% endif %}
	<img src="{{ sf.path | prepend: site.baseurl }}" alt="" class="img-responsive">
	{% if m == '0' %}
		</div>
	{% endif %}
{% endif %}{% endfor %}
{% if m != '0' %}
	</div>
{% endif %}
</div>
</div> <!--/Carousel -->

        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->
