<div id="footerwrap">
 <div class="container">
  <div class="row">
   <div class="col-lg-4 col-lg-offset-1">
    <h4>About</h4>
    <div class="hline-w"></div>
     <p>{{ site.about }}</p>
    </div>
    <div class="col-lg-2">
     <h4>Links</h4>
     <div class="hline-w"></div>
     {% for network in site.social %}<a href="{{ network.url }}" ><i class="fa fa-{{ network.title }}"></i></a>{% endfor %}
    </div>
    <div class="col-lg-4">
    <h4></i>Company</h4>
    <div class="hline-w"></div>
<a href="http://www.insidesecure.com/"><img src="{{ "/assets/img/inside_logo_white.png" | prepend: site.baseurl }}" class="img-responsive"></a>
   </div>
  </div><! --/row -->
  <div class="row">
   <div class="col-lg-12 centered">
   <small>{{ site.copyright }}</small>
   </div>
  </div><! --/row -->
 </div><! --/container -->
</div><! --/footerwrap -->
