<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Enterprise level security &lt; 50 KB</h3>
                <h1>Compact Embedded SSL/TLS stack </h1>
            </div>
            <div class="col-lg-12 himg">
                <img src="{{ "/assets/img/matrixssl_iot_1.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
