<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h5>Open Source Embedded MatrixSSL</h5>
PeerSec Networks MatrixSSL™ is an embedded SSL/TLS library under 50KB, designed for small footprint applications and devices. Secure Sockets Layer (SSL) and the next generation Transport Layer Security (TLS) are the most widely deployed protocols for creating secure connections between applications on a network. SSL is used to secure proprietary applications as well as common Internet protocols such as HTTP, SIP, H.323 and EAP-TLS.
            </div>
            <div class="col-lg-12 himg">
                <img src="{{ "/assets/img/matrixssl_iot_2.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
