<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="rights-standard" content="{{ site.copyright }}">  
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
{% feed_meta %}
    <link rel="shortcut icon" href="{{ "/assets/img/favicon.png" | prepend: site.baseurl }}">

    <link href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet">
{% if page.path contains "docs/" %}
	<link href="{{site.baseurl}}/assets/css/docs.css" rel="stylesheet">
	<link href="{{site.baseurl}}/assets/css/fontello.css" rel="stylesheet">
	<link href="{{site.baseurl}}/assets/css/prism.css" rel="stylesheet">
{% endif %}
</head>
