---
layout: default
---
<div class="container mtb">
 <div class="row">
  <div class="col-md-8" role="main">
{% comment %} Converted markdown content {% endcomment %}
   <section class="bs-docs-section">
{{ content }}
   </section>
  </div>
  <div class="col-md-4" role="complementary">
   <div class="bs-docs-sidebar hidden-print">
{% comment %} docs.js will dynamically generate ul content below {% endcomment %}
    <ul class="nav bs-docs-sidenav"></ul>
    <a class="back-to-top" href="#top"><i class="glyphicon glyphicon-chevron-up"></i> Back to top</a>
   </div>
  </div>
 </div>
</div>
